<div>
    <ul authenticated="false" class="nav navbar-nav navbar-right">
        <li><a class="" ui-sref="login" role="button">Entrar</a></a></li>
        <li><a class="" ui-sref="signUp" role="button">Cadastrar</a></li>
    </ul>

    <ul authenticated="true" class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="" ng-src="{{profile.picture}}" width="32" height="32">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="logout">Sair</a></li>
            </ul>
        </li>

    </ul>
</div>