<div class="row content-background">
    <div class="col-md-12">

        <h1 class="page-header">Criar sua conta NuMap</h1>

        <form class="">
            <div class="form-group">
                <label for="inputName" class="">Nome</label>
                <input type="text" id="inputName" class="form-control" ng-model="user.name" placeholder="Informe o seu nome" required="" autofocus="">
            </div>

            <div class="form-group">
                <label for="inputEmail" class="">Nome</label>
                <input type="text" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Informe o seu e-mail" required="">
            </div>

            <div class="form-group">
                <label for="inputPassword" class="">Senha</label>
                <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Informe a senha" required="">
            </div>
            <div class="btn-toolbar">
                <button class="btn btn-success" type="submit" ng-click="signup()">Cadastrar</button>
                <a ui-sref="index" class="btn btn-danger">Cancelar</a>
            </div>

        </form>
    </div>
</div>