<form class="form-signin">
    <h2 class="form-signin-heading">Entrar no NuMap</h2>

    <div ng-show="mensagem.texto" class="alert alert-danger">{{mensagem.texto}}</div>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" class="form-control" ng-model="usuario.email" placeholder="Informe o e-mail" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="usuario.password" placeholder="Informe a senha" required="">

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <div class="btn-toolbar">
        <button class="btn btn-success" type="submit" ng-click="login()">Entrar</button>
        <span><a ui-sref="index.signup"> ou criar nova conta</a></span>
    </div>

    <div class="btn-toolbar">
        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook-official fa-lg" aria-hidden="true"></span> Entrar com Facebook
        </a>
    </div>

    <div class="btn-toolbar">
        <button type="button" class="btn btn-block btn-social btn-facebook" ng-click="login_fb()">
            <span class="fa fa-facebook-official fa-lg" aria-hidden="true"></span> Entrar com Facebook 2
        </button>
    </div>


</form>