body{
    background-color: #eeeeee;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
}

/*Headers*/
h1{

}

/*Cointainers*/
.container-content{
    padding-bottom: 20px;
}

.content-background{
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    padding-bottom: 20px;
}

/* Navbar*/
.navbar-inverse{
    background-color: #3A0D72 !important;
    background-image: none;
}
    .navbar-inverse a {
        color: #ffffff !important;
    }

.form-signin{
    margin-top: 20px !important;
}