body{
    background-color: #eeeeee;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 50px;
}

/*Headers*/
h1{}

/*Cointainers*/
.container-content{
    padding-bottom: 20px;
}

.content-background{
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    padding-bottom: 20px;
}

/* Navbar*/
.navbar-inverse{
    background-color: #3A0D72 !important;
    background-image: none;
}
    .navbar-inverse a {
        color: #ffffff !important;
    }
    .navbar-inverse .dropdown-menu a {
        color: #080808 !important;
    }
    .navbar-inverse .dropdown-menu a[aria-expanded=true] {
        color: #ffffff !important;
    }

    .navbar-nav>li>a{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }


.form-signin{
    margin-top: 20px !important;
}


/* *************************************************************************************
* CUSTOM-BOX
************************************************************************************* */
.custom-box{
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
    .custom-box .box-header{
        margin: 0;
        padding: 5px;
    }

.box-purple{
    background-color: #3A0D72;
}
.box-purple .box-header{
    color: #FFFFFF;
}

/* *************************************************************************************
* BOOTSTRAP OVERWRITE
************************************************************************************* */
.form-control{
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
}